.submit-btn {
    background-color: #c1a48a;
    color: white;
    border: none;
}

.submit-btn:hover {
    background-color: #a58160;
}

.form-label{
    color: #6e3400;
    font-size: 56px;
}

#emailForm {
    margin-top: 200px;
}