
/* Email input div */

.submit-btn {
    background-color: #c1a48a;
    color: white;
    border: none;
}

.submit-btn:hover {
    background-color: #a58160;
}

.form-label{
    color: #6e3400;
    font-size: 90px;
    line-height: 1.0;
    margin-top: 200px;
}

.input-group {
    margin-top: 50px;
}

#emailInput {
    background-color: #f5f3f3;
}

/* Results div */

#results {
    margin-top: 200px;
    color: #6e3400;
    font-size: 40px;
}

/* Reminders div */

#reminders {
    margin-top: 500px;
    color: #6e3400;
    font-size: 25px;
    margin-bottom: 40px;
}

#reminderSubmit {
    border: none;
    border-radius: 20%;
    padding-left: 15px;
    padding-right: 15px;
}
