.submit-btn {
    background-color: #c1a48a;
    color: white;
    border: none;
}

.submit-btn:hover {
    background-color: #a58160;
}

.form-label{
    color: #6e3400;
    font-size: 90px;
    line-height: 1.0;
    margin-top: 200px;
}

.input-group {
    margin-top: 50px;
}

#emailInput {
    background-color: #f5f3f3;
}

#results {
    margin-top: 200px;
    color: #6e3400;
    font-size: 40px;
}


#reminders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 500px;
    color: #6e3400;
    font-size: 25px;
}

#reminder-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}